@import "reset";
@import "vars";
@import "mixins";
@import "header";
@import "posts_section";
@import "instagram_section";
@import "footer";

html{
	box-sizing: border-box;
}
*,*::after,*::before{
	box-sizing: inherit;
}

body{
    min-width: 320px;
    overflow-x: hidden;
}

.white-txt{
    color: $white-txt;
}