$bgColor: rgba(0, 0, 0, 0.0001);
$accent:rgba(87, 164, 164, 1);
$main-txtColor:rgba(78, 78, 78, 1);
$comments-txtColor:rgba(124, 124, 124, 1);
$info-txtColor: rgba(92, 92, 92, 1);
$white-txt: rgba(254, 254, 254, 1);
$grayColor:rgba(185, 185, 185, 1);

